.*
*~
*.o
*.a
*.so
*.mo
*.gmo
*.pot
*.in
config*
!configure.ac
Makefile*
!Makefile.am
build/
*.m4
ABOUT-NLS
INSTALL
depcomp
autom4*
install*
missing
po/*
!po/Makevars
!po/LINGUAS
!po/*.po
build-stamp
debian/files
debian/ibus-t9/
debian/ibus-t9*
*.spec
ibus-engine-t9
ibus-t9.xml
stamp*
icons/ibus_t9.icons.h
