Source: ibus-t9
Section: i18n
Priority: optional
Maintainer: G.S.Alex <i@gsalex.net>
Build-Depends: debhelper (>= 7), autotools-dev ,libibus-dev, librsvg2-dev , libgtk2.0-dev , libglib2.0-dev
Standards-Version: 0.0.1
Homepage: http://ibus-t9.googlecode.com

Package: ibus-t9
Architecture: any
Depends: libibus1 , librsvg2-2 , libgtk2.0-0
Suggests: 
Description: IBus T9 Input Method .
