Source: ibus-t9
Section: utils
Priority: optional
Maintainer: microcai<microcaicai@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev , libibus-dev, libgtk2.0-dev , libglib2.0-dev , librsvg2-dev
Standards-Version: 3.8.4
Homepage: http://ibus-t9.googlecode.com

Package: ibus-t9
Architecture: any
Depends: ${shlibs:Depends} 
Suggests: 
Description: IBus T9 Input Method .
 ibus-t9 is an input method engine for Chinese ,base on ibus.
 .
 this package provide one input method:
 * t9: t9 input method.
 .
 for more information on t9 input method,check http://en.wikipedia.org/wiki/T9 .
